synchronization/express/documents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://e-insurance.in.ua/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://e-insurance.in.ua/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://e-insurance.in.ua/">
      <s:element name="getDocumentUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="typesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocumentUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDocumentUrlSoapIn">
    <wsdl:part name="parameters" element="tns:getDocumentUrl" />
  </wsdl:message>
  <wsdl:message name="getDocumentUrlSoapOut">
    <wsdl:part name="parameters" element="tns:getDocumentUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentsServiceSoap">
    <wsdl:operation name="getDocumentUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">test</wsdl:documentation>
      <wsdl:input message="tns:getDocumentUrlSoapIn" />
      <wsdl:output message="tns:getDocumentUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentsServiceSoap" type="tns:DocumentsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocumentUrl">
      <soap:operation soapAction="http://e-insurance.in.ua/getDocumentUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentsServiceSoap12" type="tns:DocumentsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocumentUrl">
      <soap12:operation soapAction="http://e-insurance.in.ua/getDocumentUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentsService">
    <wsdl:port name="DocumentsServiceSoap" binding="tns:DocumentsServiceSoap">
      <soap:address location="http://e-insurance.in.ua/synchronization/express/documents.php" />
    </wsdl:port>
    <wsdl:port name="DocumentsServiceSoap12" binding="tns:DocumentsServiceSoap12">
      <soap12:address location="http://e-insurance.in.ua/synchronization/express/documents.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>