synchronization/express/goload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://e-insurance.in.ua/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://e-insurance.in.ua/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://e-insurance.in.ua/">
      <s:element name="policies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmldata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="policiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="policiesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="policiesSoapIn">
    <wsdl:part name="parameters" element="tns:policies" />
  </wsdl:message>
  <wsdl:message name="policiesSoapOut">
    <wsdl:part name="parameters" element="tns:policiesResponse" />
  </wsdl:message>
  <wsdl:portType name="GOLoadServiceSoap">
    <wsdl:operation name="policies">
      <wsdl:input message="tns:policiesSoapIn" />
      <wsdl:output message="tns:policiesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GOLoadServiceSoap" type="tns:GOLoadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="policies">
      <soap:operation soapAction="http://e-insurance.in.ua/policies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GOLoadServiceSoap12" type="tns:GOLoadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="policies">
      <soap12:operation soapAction="http://e-insurance.in.ua/policies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOLoadService">
    <wsdl:port name="GOLoadServiceSoap" binding="tns:GOLoadServiceSoap">
      <soap:address location="https://e-insurance.in.ua/synchronization/express/goload.php" />
    </wsdl:port>
    <wsdl:port name="GOLoadServiceSoap12" binding="tns:GOLoadServiceSoap12">
      <soap12:address location="https://e-insurance.in.ua/synchronization/express/goload.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>