synchronization/express/managers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
targetNamespace="http://e-insurance.in.ua/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://e-insurance.in.ua/"
xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://e-insurance.in.ua/">
      <s:element name="synhronize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountsId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="screen_resolutionsId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="recordsPerPage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="autoshowCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patronymicname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passport_series" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passport_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passport_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passport_place" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zkpo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bankAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bankReference" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="akt" type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="typesId" type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" name="agreementNumber" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="agreementDate" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="ankets" type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="seller" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synhronizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="synhronizeSoapIn">
    <wsdl:part name="parameters" element="tns:synhronize" />
  </wsdl:message>
  <wsdl:message name="synhronizeSoapOut">
    <wsdl:part name="parameters" element="tns:synhronizeResponse" />
  </wsdl:message>
  <wsdl:portType name="ManagerServiceSoap">
    <wsdl:operation name="synhronize">
      <wsdl:input message="tns:synhronizeSoapIn" />
      <wsdl:output message="tns:synhronizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagerServiceSoap" type="tns:ManagerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="synhronize">
      <soap:operation soapAction="http://e-insurance.in.ua/synhronize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerServiceSoap12" type="tns:ManagerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="synhronize">
      <soap12:operation soapAction="http://e-insurance.in.ua/synhronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="ManagerServiceSoap" binding="tns:ManagerServiceSoap">
      <soap:address location="http://e-insurance.in.ua/synchronization/express/managers.php" />
    </wsdl:port>
    <wsdl:port name="ManagerServiceSoap12" binding="tns:ManagerServiceSoap12">
      <soap12:address location="http://e-insurance.in.ua/synchronization/express/managers.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>