synchronization/express/policies.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://e-insurance.in.ua/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://e-insurance.in.ua/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://e-insurance.in.ua/">

      <s:element name="setAgreement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insurance_kasko_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="insurance_go_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="carPrice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="brand" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="model" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shassi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="engine_size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setAgreementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="setSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insurance_kasko_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="insurance_go_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="setBeginEnd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insurance_kasko_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="insurance_go_policiesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="beginDateTime" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="endDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setBeginEndResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </wsdl:types>

  <wsdl:message name="setAgreementSoapIn">
    <wsdl:part name="parameters" element="tns:setAgreement" />
  </wsdl:message>
  <wsdl:message name="setAgreementSoapOut">
    <wsdl:part name="parameters" element="tns:setAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="setSignSoapIn">
    <wsdl:part name="parameters" element="tns:setSign" />
  </wsdl:message>
  <wsdl:message name="setSignSoapOut">
    <wsdl:part name="parameters" element="tns:setSignResponse" />
  </wsdl:message>
  <wsdl:message name="setBeginEndSoapIn">
    <wsdl:part name="parameters" element="tns:setBeginEnd" />
  </wsdl:message>
  <wsdl:message name="setBeginEndSoapOut">
    <wsdl:part name="parameters" element="tns:setBeginEndResponse" />
  </wsdl:message>

  <wsdl:portType name="PoliciesServiceSoap">

    <wsdl:operation name="setAgreement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Установка данных со страницы договор купли продажи</wsdl:documentation>
      <wsdl:input message="tns:setAgreementSoapIn" />
      <wsdl:output message="tns:setAgreementSoapOut" />
    </wsdl:operation>

    <wsdl:operation name="setSign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Установка гос. номера</wsdl:documentation>
      <wsdl:input message="tns:setSignSoapIn" />
      <wsdl:output message="tns:setSignSoapOut" />
    </wsdl:operation>

    <wsdl:operation name="setBeginEnd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Установка периода действия договора</wsdl:documentation>
      <wsdl:input message="tns:setBeginEndSoapIn" />
      <wsdl:output message="tns:setBeginEndSoapOut" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="PoliciesServiceSoap" type="tns:PoliciesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="setAgreement">
      <soap:operation soapAction="http://e-insurance.in.ua/setAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setSign">
      <soap:operation soapAction="http://e-insurance.in.ua/setSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setBeginEnd">
      <soap:operation soapAction="http://e-insurance.in.ua/setBeginEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:binding name="PoliciesServiceSoap12" type="tns:PoliciesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="setAgreement">
      <soap12:operation soapAction="http://e-insurance.in.ua/setAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setSign">
      <soap12:operation soapAction="http://e-insurance.in.ua/setSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setBeginEnd">
      <soap12:operation soapAction="http://e-insurance.in.ua/setBeginEnd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="PoliciesService">
    <wsdl:port name="PoliciesServiceSoap" binding="tns:PoliciesServiceSoap">
      <soap:address location="http://e-insurance.in.ua/synchronization/express/policies.php" />
    </wsdl:port>
    <wsdl:port name="PoliciesServiceSoap12" binding="tns:PoliciesServiceSoap12">
      <soap12:address location="http://e-insurance.in.ua/synchronization/express/policies.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>