synchronization/assistance/eventskasko.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://e-insurance.in.ua/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://e-insurance.in.ua/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://e-insurance.in.ua/">
      <s:element name="getEventsByNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEventsByNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEventsByNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEventsByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="beginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEventsByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEventsByDatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAktByNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAktByNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAktByNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getEventsByNumberSoapIn">
    <wsdl:part name="parameters" element="tns:getEventsByNumber" />
  </wsdl:message>
  <wsdl:message name="getEventsByNumberSoapOut">
    <wsdl:part name="parameters" element="tns:getEventsByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getEventsByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:getEventsByDates" />
  </wsdl:message>
  <wsdl:message name="getEventsByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:getEventsByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="getAktByNumberSoapIn">
    <wsdl:part name="parameters" element="tns:getAktByNumber" />
  </wsdl:message>
  <wsdl:message name="getAktByNumberSoapOut">
    <wsdl:part name="parameters" element="tns:getAktByNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="EventsKaskoServiceSoap">
    <wsdl:operation name="getEventsByNumber">
      <wsdl:input message="tns:getEventsByNumberSoapIn" />
      <wsdl:output message="tns:getEventsByNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEventsByDates">
      <wsdl:input message="tns:getEventsByDatesSoapIn" />
      <wsdl:output message="tns:getEventsByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAktByNumber">
      <wsdl:input message="tns:getAktByNumberSoapIn" />
      <wsdl:output message="tns:getAktByNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsKaskoServiceSoap" type="tns:EventsKaskoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEventsByNumber">
      <soap:operation soapAction="http://e-insurance.in.ua/getEventsByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsByDates">
      <soap:operation soapAction="http://e-insurance.in.ua/getEventsByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAktByNumber">
      <soap:operation soapAction="http://e-insurance.in.ua/getAktByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventsKaskoServiceSoap12" type="tns:EventsKaskoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEventsByNumber">
      <soap12:operation soapAction="http://e-insurance.in.ua/getEventsByNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsByDates">
      <soap12:operation soapAction="http://e-insurance.in.ua/getEventsByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAktByNumber">
      <soap12:operation soapAction="http://e-insurance.in.ua/getAktByNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventsKaskoService">
    <wsdl:port name="EventsKaskoServiceSoap" binding="tns:EventsKaskoServiceSoap">
      <soap:address location="https://e-insurance.in.ua/synchronization/assistance/eventskasko.php" />
    </wsdl:port>
    <wsdl:port name="EventsKaskoServiceSoap12" binding="tns:EventsKaskoServiceSoap12">
      <soap12:address location="https://e-insurance.in.ua/synchronization/assistance/eventskasko.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>